agent-detector==2.0.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
certifi==2026.7.22
click==8.5.0
colorama==0.4.6
detect-installer==0.2.1
dnspython==2.8.0
email-validator==2.3.0
fastapi-cli==0.0.32
fastapi-cloud-cli==0.26.0
fastapi==0.142.2
fastar==0.12.0
googleapis-common-protos==1.75.5
h11==0.16.0
httpcore2==2.13.1
httpcore==1.0.9
httptools==0.8.0
httpx2==2.13.1
httpx==0.28.1
idna==3.20
iniconfig==2.3.0
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
opentelemetry-api==1.45.0
opentelemetry-exporter-http-transport==0.66b0
opentelemetry-exporter-otlp-common==0.66b0
opentelemetry-exporter-otlp-proto-common==1.45.0
opentelemetry-exporter-otlp-proto-http==1.45.0
opentelemetry-proto==1.45.0
opentelemetry-sdk==1.45.0
opentelemetry-semantic-conventions==0.66b0
packaging==26.3
pillow==12.3.0
pluggy==1.6.0
protobuf==7.36.2
pydantic-extra-types==2.11.1
pydantic-settings==2.15.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pytest==9.1.1
python-dotenv==1.2.3
python-multipart==0.0.32
PyYAML==6.0.3
RapidFuzz==3.14.6
rich-toolkit==0.20.5
rich==15.0.0
rignore==0.8.1
sentry-sdk==2.71.0
shellingham==1.5.4
starlette==1.7.0
truststore==0.10.4
typer==0.27.2
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
uvicorn==0.54.0
watchfiles==1.3.0
websockets==17.1
